
<div class="panel">
	<div class="header">
		<span class="col_fade">话题发布指南</span>
	</div>
	<div class="inner">
		<ol>
			<li>尽量把话题要点浓缩到标题里</li>
			<li>代码含义和报错可在 <a href="http://segmentfault.com/t/node.js">SegmentFault</a> 提问</li>
		</ol>
	</div>
</div>