
<div class='panel'>
	<div class='header'>
		<span class='col_fade'>友情社区</span>
	</div>
	<div class='inner'>
		<ol class="friendship-community">
			@foreach (FriendlylinksInfo fl in ViewBag.friendlylinks4) {
				<li>
					<a href="@fl.Link" target="_blank">
						<img src="@fl.Logo" alt="@fl.Title">
					</a>
				</li>
			}
		</ol>
	</div>
</div>