<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="Warn"
	internalLogFile="internal-nlog.txt">

	<targets>
		<target xsi:type="File" name="allfile" fileName="../nlog/all-${shortdate}.log"
			layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

		<target xsi:type="File" name="ownFile-web" fileName="../nlog/own-${shortdate}.log"
			layout="${longdate}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>
